// #surveyCreator {
//     height: 100vh;
//     width: 100vw;
// }
.quill-wrapper .editor {
    min-height: 150px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
  }
  

  .custom-select {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s;
    width: 100%;
    max-width: 300px;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="gray" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
  }
  
  .custom-select:focus {
    border-color: #007bff;
  }
  

  .spinner {
    border: 4px solid #f3f3f3; /* Couleur du fond */
    border-top: 4px solid #3498db; /* Couleur du spinner */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }